*{ margin: 0; padding: 0;}
body{
    background-color: black;}
header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        padding: 20px 0px;
        border-bottom:0.4px solid #fff2ef ;
        border-top:0.4px solid #fff2ef;
        margin-top: 10px;          }
nav{
        display: flex;
        text-decoration: none;
        gap: 20px;
        color: white;
        font-weight: 400;
        font-size: 18px;  }
#i1     {height: 80px;  }
#i2     {height: 1px;  }
#y1     {padding-top: 10px;padding-bottom: 10px;}
header a{
        text-decoration: none;
        color: #fff2ef;    }
body{
    min-width: 290px;
    max-width: 700px;
    margin: auto;}
section img{   width: 100%;   }
.bra{
    padding: 10px 30px;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    color: black;  
    align-items: center;
    justify-content: space-around;    }
.pre{
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;  
    align-items: center;
    justify-content: space-around;  }
.t1{
width: 300px;
padding: 40px;}
div img{width: 40%;}
footer{
    background-color: white;
    height: 80px;
    text-align: center;
    font: 55px;    
    padding: 20px;
}