*{ margin: 0; padding: 0;}
body{
    background-color: black;}
header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        padding: 20px 0px;
        border-bottom:0.4px solid #fff2ef ;
        border-top:0.4px solid #fff2ef;
        margin-top: 10px;          }
nav{
        display: flex;
        text-decoration: none;
        gap: 20px;
        color: white;
        font-weight: 400;
        font-size: 18px;  }
#i1     {height: 80px;  }
#i2     {height: 1px;  }
#y1     {padding-top: 10px;padding-bottom: 10px;}
header a{
        text-decoration: none;
        color: #fff2ef;    }
body{
    min-width: 290px;
    max-width: 700px;
    margin: auto;}
section img{   width: 100%;   }
.bra{
    padding: 10px 30px;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    color: black;  
    align-items: center;
    justify-content: space-around;    }
.pre{
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;  
    align-items: center;
    justify-content: space-around;  }
.t1{
width: 300px;
padding: 40px;}
div img{width: 40%;}
footer{
    background-color: black;
    height: 80px;
    color: white;
    text-align: center;
    font: 55px;    
    padding: 20px;}
#imgg{
        height: 400px;
        background-image: url(Imagens/background002.jpg);
        background-position: left center;
        background-size: cover ;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    padding-bottom: 20px;}
#imgg > p{          color: white; 
                    font-size: 20px; 
                    font-weight: bold;
                    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.514);
                    width: 350px; 
                    text-align: center;
                    background-color: rgba(128, 128, 128, 0.347);
                    padding: 10px;}
#imgg > h2{         color: white; 
                    font-size: 35px; 
                    font-weight: bold;
                    text-align: center;
                    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.514);
                    width: 350px; 
                    background-color: rgba(128, 128, 128, 0.347);
                    padding: 10px;}
.h11{   height: 50px;
        color: white; 
        font-size: 15px; 
        text-align: center;
        padding: 0px 20px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.514);}
#z4{
    height: 20px;
    background-color: black;
}
        